body { background: #36b7cd; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 29px; display: flex; }
.block-token-0 { color: #da1526; font-size: 13px; margin-bottom: 5px; }
.block-database-1 { color: #b5a7c1; font-size: 19px; margin-bottom: 5px; }
.block-helper-2 { color: #586c2a; font-size: 13px; margin-bottom: 5px; }
.block-email-3 { color: #838582; font-size: 16px; margin-bottom: 5px; }
.block-logger-4 { color: #f955fd; font-size: 14px; margin-bottom: 5px; }